<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Account Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Account Details</h1>
  <dl>
    <dt>ID</dt>
    <dd th:text="${account.id}"></dd>
    <dt>Name</dt>
    <dd th:text="${account.name}"></dd>
    <dt>Balance</dt>
    <dd th:text="${account.balance}"></dd>
    <dt>Client</dt>
    <dd th:text="${account.clientUsername}"></dd>
    <dt>Created At</dt>
    <dd th:text="${account.createdAt}"></dd>
    <dt>Updated At</dt>
    <dd th:text="${account.updatedAt}"></dd>
    <dt>Transaction</dt>
    <dd>
      <ul th:if="${not #sets.isEmpty(account.transactionDescriptions)}">
        <li th:each="description : ${account.transactionDescriptions}" th:text="${description}"></li>
      </ul>
      <p th:unless="${not #sets.isEmpty(account.transactionDescriptions)}">No transactions found.</p>
    </dd>
  </dl>

  <a th:href="@{/accounts/edit/{id}(id=${account.id})}" class="btn btn-primary">Edit</a>
  <a href="/accounts" class="btn btn-secondary">Back to List</a>
</div>
</body>
</html>