<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Accounts</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Accounts</h1>
  <a href="/accounts/new" class="btn btn-primary">Create New Account</a>


  <div th:if="${clientId}">
    <h2>Accounts for Client Username: <span th:text="${clientId}"></span></h2>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Client</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
      <td th:text="${account.name}"></td>
      <td th:text="${account.balance}"></td>
      <td th:text="${account.clientUsername}"></td>
      <td>
        <a th:href="@{/accounts/{id}(id=${account.id})}" class="btn btn-sm btn-info">View</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>