<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Client</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Edit Client</h1>
    <form th:action="@{/clients/edit/{id}(id=${client.id})}" th:object="${clientUpdateDto}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required="required">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <a th:href="@{/clients/{id}(id=${client.id})}" class="btn btn-secondary">Cancel</a>
</div>
</body>
</html>